/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus {
    text-decoration: none;
    color: inherit;
  }
}

/* Remove the stupid outer glow in Webkit */
input:focus,
select:focus {
  outline: 0;
}

/* Box Sizing Reset
-----------------------------------------------*/
/* All of our custom controls should be what we expect them to be */
input,
select,
textarea {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    border: 0px;
    -webkit-text-fill-color: transition;
    -webkit-box-shadow: none;
  }
}

/* These elements are usually rendered a certain way by the browser */
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select {
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Text Inputs
-----------------------------------------------*/
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=range],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week] {}

/* Button Controls
-----------------------------------------------*/
input[type=checkbox],
input[type=radio] {
  width: 24px;
  height: 24px;
}

/* File Uploads
-----------------------------------------------*/
input[type=file] {
  position: absolute;
  opacity: 0;
}

/* Search Input
-----------------------------------------------*/
/* Make webkit render the search input like a normal text field */
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration {
  display: none;
}

/* Buttons
-----------------------------------------------*/
button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
  /* Fix IE7 display bug */
  overflow: visible;
  width: auto;
  user-select: none;

  &:focus {
    outline: none;
  }
}

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none;
}

/* Textarea
-----------------------------------------------*/
textarea {
  /* Move the label to the top */
  vertical-align: top;
  /* Turn off scroll bars in IE unless needed */
  overflow: auto;
}

.noscriptmsg,
.browserupgrade {
  background: #C41425;
  color: #fff;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2000;
}

$color-white: #fff;
$color-black: #000;
$color-jet: #333;
$color-lava: #C41425;
$font-primary : 'Signika',
sans-serif;
$font-second : 'Open Sans',
sans-serif;
// mixins to create the reusable media-queries
$sm: 480px;
$md: 600px;
$lg: 1024px;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background-color: #fff;
  overflow-x: hidden;
  font-family: $font-second;
}

::-moz-selection {
  background: #c41425;
  color: #fff;
}

::-moz-selection,
::selection {
  background: #c41425;
  color: #fff;
}

embed,
iframe,
object {
  max-width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

[hidden] {
  display: none !important;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Signika', sans-serif;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

small,
.small {
  font-size: 80%;
  font-weight: 400;
}

p {
  font-size: 16px;
  line-height: 1.5;
  font-family: '$font-second ', sans-serif;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.has-text-align {
  &-center {
    text-align: center;
  }

  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }
}

input:focus,
input:hover {
  outline: 0;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@mixin mediaquery($type) {
  @if $type==$sm {
    @media screen and (min-width: $sm) {
      @content;
    }
  }

  @else if $type==$md {
    @media screen and (min-width: $sm + 1) and (max-width: $md) {
      @content;
    }
  }

  @else if $type==$lg {
    @media screen and (min-width: $md + 1) {
      @content;
    }
  }
}

%menu-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  padding: .5rem 1rem;
  color: $color-jet;
  font-family: $font-primary;
}

body {
  padding-top: 72px;
}

.site-main nav {
  // overflow: hidden;
  clear: both;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1500;
  background-color: $color-white;
  transition: all .5s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  height: 64px;

  @media (min-width: 768px) {
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 10px;
    height: 82px;
  }

  .nav-menu-button {
    width: 32px;
    height: 32px;
    border: 0;
    padding: 0;
    margin: 0;
    background-color: $color-white;

    @media (min-width: 568px) {
      display: none;
    }

    .buger-menu-icon {
      margin: 0 auto;
      display: block;
      width: 28px;
      position: relative;
      height: 2px;
      background-color: $color-jet;
      cursor: pointer;

      &:before,
      &:after {
        cursor: pointer;
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: $color-jet;
        position: absolute;
        left: 0;
        right: 0;
      }

      &:before {
        top: 10px;
      }

      &:after {
        top: -10px;
      }

      &.active {
        height: 0px;

        &:before,
        &:after {
          top: 0px;
        }

        &:before {
          transform: rotate(135deg);
        }

        &:after {
          transform: rotate(-135deg);
        }
      }
    }
  }

  .nav-logo {
    text-align: left;
    display: block;
    flex: 1 0;

    a {
      max-width: 90px;
      display: block;
      position: absolute;
      top: 0;
      max-width: 130px;

      @media (min-width: 768px) {
        max-width: 180px;
      }

      svg {
        width: 100%;
        height: auto;
      }
    }
  }

  .nav-menu-content {
    display: none;
    height: 0;
    transition: all .5s;

    @media (min-width: 568px) {
      display: flex;
      height: auto;
    }

    .menu-item {

      a,
      span {
        font-family: $font-second;
        text-align: center;
        font-size: 14px;
        line-height: 24px;
        font-weight: 500;
        color: $color-jet;
        position: relative;

        @media (min-width: 568px) {
          font-size: 16px;
          line-height: 20px;
          margin-right: 20px;
        }

        @media (min-width: 768px) {
          margin-right: 45px;
        }

        &:after {
          content: "";
          display: block;
          width: 0%;
          height: 1px;
          position: absolute;
          bottom: -5px;
          left: 0;
          right: 0;
          background-color: $color-jet;
          transition: width 0.3s;
        }

        &:hover,
        &:focus {
          color: $color-lava;

          &:after {
            width: 100%;
          }
        }
      }

      &:last-child {
        span {
          margin-right: 0;
        }
      }

      .translate-btn {
        border: 1px solid $color-lava;
        border-radius: 50px;
        cursor: pointer;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 12px;
        padding-right: 6px;

        &:hover {
          color: $color-white;
          background-color: $color-lava;
        }

        &:after {
          content: none;
        }
      }
    }
  }
}

#navbar.menu-drawer-open .nav-menu-content {
  display: block;
  width: 100%;
  height: auto;
  padding-top: 15px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  position: absolute;
  left: 0;
  top: 60px;
  background-color: $color-white;
}

.button {
  display: inline-block;
  border: 1px solid $color-lava;
  background: $color-lava;
  border-radius: 50px;
  padding: 15px 30px;
  font-family: $font-second;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: $color-white;
  cursor: pointer;
  transition: all 0.3s;

  &:hover,
  &:focus {
    border-color: $color-lava;
    background-color: $color-white;
    color: $color-lava;
  }
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 7rem;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  // @media (min-width: 576px) {
  //   max-width: 540px;
  // }
  @media (min-width: 768px) {
    // max-width: 720px;
    flex-direction: row-reverse;

    >div {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  // @media (min-width: 992px) {
  //   max-width: 960px;
  // }
  @media (min-width: 1200px) {
    max-width: 1140px;
  }

  &--text {
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;

    @media (min-width: 768px) {
      margin-top: 30px;
      padding-left: 0;
    }

    &_title {
      /* Heading 1 */
      font-family: $font-primary;
      font-style: normal;
      font-weight: 600;
      display: flex;
      align-items: center;
      letter-spacing: 0.2px;
      color: $color-black;
      margin-bottom: 40px;
      margin-bottom: 1rem;
      font-size: 2rem;
      line-height: 1.2;

      @media (min-width: 460px) {
        font-size: 3rem;
      }

      @media (min-width: 768px) {
        font-size: 40px;
        font-size: 3.125rem;
        // line-height: 49px;
      }
    }

    &_content {
      @media(min-width: 768px) {
        max-width: 85%;
      }

      /* Paragraph */
      font-family: $font-second;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      /* or 150% */
      letter-spacing: 0.5px;
      font-weight: 300;
      color: $color-black;
      margin-bottom: 1rem;
    }
  }

  &--image {
    img {
      width: 794px;
      object-fit: cover;
    }
  }
}

// body * {
//   outline: 1px solid blueviolet;
// }
.how-it-works {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  // @media (min-width: 576px) {
  //   max-width: 540px;
  // }
  @media (min-width: 768px) {

    // max-width: 720px;
    >div {
      max-width: 720px;
      margin: 0 auto;
    }
  }

  @media (min-width: 992px) {

    // max-width: 960px;
    >div {
      flex: 0 0 50%;
      max-width: 50%;
    }

    >div.section_content {
      flex: 0 0 45%;
      max-width: 45%;
      padding-right: 5%;
    }
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }

  display: flex;
  flex-direction: column;

  @media (min-width: 992px) {
    flex-direction: row;
  }

  .section {
    &_title {
      margin: 0 auto;
      padding-bottom: 15px;
      /* Heading 2 */
      font-family: $font-primary;
      font-style: normal;
      font-weight: 500;
      line-height: 1.2;
      font-size: 1.92rem;
      letter-spacing: 0.2px;
      color: $color-black;
    }

    &_content {
      font-family: $font-second;
      font-style: normal;
      font-weight: normal;
      letter-spacing: 0.5px;
      color: $color-jet;

      ul {
        li {
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.5px;
          color: $color-jet;
          margin-bottom: 16px;
          padding-left: 16px;
          position: relative;

          &:before {
            content: "";
            display: block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: $color-jet;
            position: absolute;
            top: 10px;
            left: 0px;
          }
        }
      }
    }
  }

  .section_form {
    margin: 0 auto;

    .form-action-icon {
      display: block;
      width: 120px;
      height: 120px;
      margin: 0 auto;
      text-align: center;

      .path {
        stroke-dasharray: 1000;
        stroke-dashoffset: 0;

        &.circle {
          -webkit-animation: dash 0.9s ease-in-out;
          animation: dash 0.9s ease-in-out;
        }

        &.line {
          stroke-dashoffset: 1000;
          -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
          animation: dash 0.9s 0.35s ease-in-out forwards;
        }

        &.check {
          stroke-dashoffset: -100;
          -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
          animation: dash-check 0.9s 0.35s ease-in-out forwards;
        }
      }
    }

    .form-action-icon+.error,
    .form-action-icon+.success {
      margin-top: 14px;
      font-family: $font-second;
      text-align: center;
      color: green;
      font-size: 1.3rem;
    }

    .center-center {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .form-action {
    padding-top: 40px;
    margin: 0 auto;
    width: 100%;

    @media (min-width: 992px) {
      padding-top: 0;
      padding-left: 50px;
    }

    .control {
      margin-bottom: 26px;
      width: 100%;

      @media (min-width: 576px) {
        display: inline-block;
        width: 49.5%;

        &:nth-child(odd) {
          padding-right: 3%;
        }

        &:nth-child(even) {
          padding-left: 3%;
        }
      }

      @media (min-width: 992px) {
        display: inline-block;
        width: 100%;

        &:nth-child(odd) {
          padding-right: 0%;
        }

        &:nth-child(even) {
          padding-left: 0%;
        }
      }

      @media (min-width: 1140px) {
        display: inline-block;
        width: 49.5%;

        &:nth-child(odd) {
          padding-right: 3%;
        }

        &:nth-child(even) {
          padding-left: 3%;
        }
      }

      label {
        display: block;
        padding-bottom: 0px;
        font-family: $font-second;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.1px;
        color: $color-jet;
      }

      input {
        display: block;
        background: $color-white;
        border: 1px solid $color-jet;
        box-sizing: border-box;
        border-radius: 8px;
        padding: 12px;
        width: 100%;
      }
    }

    .from-fieldset-message {
      margin-top: 10px;
      margin-bottom: 8px;
      font-family: $font-second;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.1px;
      color: $color-jet;
    }

    .masala-yet {
      margin-bottom: 20px;
      display: flex;
      align-items: center;

      input {
        margin-right: 8px;
        width: 20px;
        height: 20px;
        border: 1px solid $color-jet;
        box-sizing: border-box;
        border-radius: 4px;
      }

      label {
        cursor: pointer;
        font-family: $font-second;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.1px;
        color: $color-jet;
      }
    }
  }
}

.how-it-works form.form-action .control {
  input.error {
    border-color: $color-lava;
  }

  label.error {
    position: absolute;
    display: inline-block;
    color: $color-lava;
  }
}

.footer {
  &--content {
    position: relative;
    z-index: 1;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: -2px;
      bottom: 0;
      left: -9999em;
      right: -9999em;
      z-index: -1;
      height: 2px;
      background-color: $color-lava;
    }

    @media (min-width: 1200px) {
      max-width: 1140px;
      margin-left: auto;
      margin-right: auto;
    }

    &_made-by {
      @media (min-width: 1200px) {
        max-width: 1140px;
        margin-left: auto;
        margin-right: auto;
      }

      border-top-width: 1px;
      border-top-style: solid;
      border-color: rgba(196, 20, 37, 0.2);
      margin-top: 10px;
      display: block;
      font-size: 0.9rem;
      padding: 10px 15px 5px;

      @media (min-width: 768px) {
        text-align: right;
        padding-bottom: 5px;
      }

      @media (min-width: 1200px) {
        max-width: 1140px;
      }
    }

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: space-between;
    margin-top: 7rem;
    border-top: 2px solid $color-lava;
    padding: 0 15px;

    @media (min-width: 890px) {
      flex-direction: row;
    }

    &-logo {
      margin-top: -2px;
      margin-bottom: 20px;
    }

    &_copyright {
      font-size: 1rem;
      line-height: 1.6;
      flex: 1 0 100%;

      @media (min-width: 860px) {
        flex: 0 0 auto;
      }
    }

    &_menu {
      flex: 1 0 100%;

      @media (min-width: 500px) {
        flex: 1 0 50%;
      }

      @media (min-width: 860px) {
        flex: 0 0 auto;
      }

      nav {
        margin-top: 20px;

        a {
          width: fit-content;
          display: block;
          margin-bottom: 10px;
          font-size: 1rem;
          line-height: 24px;
          color: $color-jet;
          position: relative;

          &.footer-nav--title {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 20px;

            &:hover,
            &:focus {
              cursor: default;
              color: $color-jet;
            }

            &:after {
              content: none;
            }
          }

          &:after {
            content: "";
            display: block;
            width: 0%;
            height: 1px;
            position: absolute;
            bottom: 0px;
            left: 0;
            right: 0;
            background-color: $color-jet;
            transition: width 0.3s;
          }

          &:hover,
          &:focus {
            color: $color-lava;

            &:after {
              width: 100%;
              background-color: $color-lava;
            }
          }
        }
      }
    }

    &_social-icon {
      margin-top: 20px;

      .social-icon-list {
        display: block !important;
      }

      a {
        margin-right: 8px;

        svg {
          width: 28px;
          height: 28px;
        }
      }
    }
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }

  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }

  100% {
    stroke-dashoffset: 900;
  }
}

.lastDate-important {
  color: $color-lava;
  display: block;
  font-family: $font-second;
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: -12px;
  margin-bottom: 12px;
}
